<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILELOG" class="ch.qos.logback.core.FileAppender">
        <file>../logs/WS-service.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.sav.jaxws" level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILELOG" />
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>